//variables
$green-color: #1abc9c;
$dark-blur-color: #34495e;
$gray-color: #bdc3c7;

/* === resets and command styles === */
html, body, div, nav, input, textarea, p, h1, h2, h3, h4, ul, li, table, tr, th, td{
    margin: 0;
    padding: 0;
}

li{
    list-style-type: none;
}

a {
    text-decoration: none;
}

img{
    outline: none;
}

body{
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 16px;
    overflow-x: hidden;
}

i {
    display: inline-block;
    font-size: 28px;
}

h1{
    margin-bottom: 55px;;
    padding: 5px;
    background: $dark-blur-color;
    border-radius: 2px;
    color: #fff;
    font-weight: normal;

    &::first-letter {
        text-transform: capitalize;
    }
}

h3{
    margin-bottom: 10px;
}

.clearfix:after{
    display: table;
    clear: both;
    content: "";
}

.btn-wrap{
    margin-top: 30px;
    text-align: right;
}

.btn{
    display: block;
    width: 160px;
    margin: 5px auto;
    padding: 5px 40px;
    background: $green-color;
    border: 0;
    border-radius: 2px;
    box-sizing: border-box;
    color: #fff;
    line-height: 30px;
    text-align: left;
    cursor: pointer;

    i{
        float: left;
        margin-right: 4px;
    }

    &:hover{
        background: #34495e;
        color:$green-color;
    }
}

@media (min-width: 600px) {
    .btn-wrap{
        margin-top: 0;
    }

    .btn{
        display: inline-block;
        width: 100px;
        padding: 5px 10px;
        margin: auto;
    }
}

label{
    display: block;
    margin: 15px 0 5px;
    padding: 5px 0;
    line-height: 30px;
}
input[type=text], textarea{
    width: 100%;
    padding: 8px 5px;
    border: 2px solid $gray-color;
    border-radius: 2px;
    box-shadow: none;
    font-family: Lato,Helvetica,Arial,sans-serif;
    font-size: 15px;
    line-height: 1.467;
    color: #000;
    -webkit-transition: border .25s linear,color .25s linear,background-color .25s linear;
    transition: border .25s linear,color .25s linear,background-color .25s linear;

    &:focus{
        border-color: #1abc9c;
        outline: 0;
        box-shadow: none;
    }
}

.gray-wrapper {
    margin-bottom: 20px;
    padding: 10px;
    background: lighten($gray-color, 18%);
    border-radius: 2px;
}

/* === ng animation === */
.ng-enter,
.ng-leave {
    -webkit-transition: .25s linear all;
    transition: .25s linear all;
}

.list-wrap ng-enter,
.list-wrap .ng-leave {
    -webkit-transition: none;
    transition: none;
}

.ng-enter {
    opacity: 0;
}

.ng-enter.ng-enter-active {
    opacity: 1;
}

.ng-leave {
    opacity: 1;
}

.ng-leave.ng-leave-active {
    opacity: 0;
}

/* === header === */
header{
    margin-bottom: 20px;
    padding: 10px 0;
    background: lighten($gray-color, 18%);

    div{
        margin: 0 auto;
    }

    p{
        width: 80%;
        font-size: 2em;
        font-weight: bold;
        //text-align: center;
    }

    button{
        padding: 9px 10px;
        margin: 8px 15px;
        background-color: transparent;
        background-image: none;
        border: 1px solid $gray-color;
        border-radius: 4px;
        cursor: pointer;

        .icon-bar {
            display: block;
            width: 22px;
            height: 2px;
            margin-top: 5px;
            border-radius: 1px;
            background-color: $gray-color;

            &:first-child{
                margin-top: 0;
            }
        }
    }
}
@media (min-width: 900px) {

    header button {
        display: none;
    }

}


/* === container and columns styles === */

.main-wrap{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container{
    width: 96%;
    margin: 0 auto;
    padding: 0 2%;
    transition: width .5s ease;
}

.col{
    position: relative;
    width: 100%;
    transition: width .9s ease;

    &:first-of-type{
        width: 0;
        overflow: hidden;
        transition: width .5s ease;
    }

     > div.view {
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
     }
}

li{

    a{
        display: block;
        color: #fff;
    }

    i{
        float: left;
        margin: 0 5px 0 0;
    }
}

/* === toggle left side on small devices  === */
.showMobile{

    .container{
        width: 900px;
    }
    .col{
        width: 75%;
        transition: width .5s;

        &:first-child{
            width: 200px;
            transition: width .9s ease;
        }
    }
}

.left-col-nav{
    width: 200px;
}

nav li{
    margin-bottom: 5px;
    padding: 5px;
    background: $green-color;
    border-radius: 2px;
    line-height: 30px;
    color: #fff;

    &.active{
        background: #34495e;
        color:$green-color;

        a{
            color:$green-color;
        }
    }
}

.list-wrap {
    margin-top: 20px;

    p{
        border-radius: 2px 2px 0 0;
        color: #fff;
        line-height: 30px;
    }

    ul{
        border-radius: 3px;
        background: darken( $dark-blur-color, 5% );
    }

    li{
        margin-bottom: 2px;
        padding: 0 15px;
        background: $dark-blur-color;
        color:#fff;

        &:first-of-type{
            margin-bottom: 0;
            padding: 5px;
            border-radius: 2px 2px 0 0 ;
            background: $green-color;
        }

        &:last-of-type{
            margin-bottom: 0;
            border-radius: 0 0 2px 2px;
        }

        &.active{
            background: 0 0;
        }


        a{
            padding: 10px 0;

            &:before{
                margin-right: 12px;
                content: '\2022';
            }
        }
    }

    li.active a{
        color: $green-color;
    }

}
@media (min-width: 900px) {

    .main-wrap{
        width: 900px;
    }

    .col{
        width: 650px;

        &:first-of-type{
            display: block;
            width: 200px;
        }
    }

    nav li{
        width: auto;
    }

}

/* === recipes view styles === */
table{

    width: 100%;
    margin-bottom: 30px;
    border-collapse: collapse;
    border-radius: 2px;

    thead{
        color: #fff;
        font-weight: normal;
    }

    th, td{
        padding: 5px 0;
        border-right: 1px solid #fff;
        background: $green-color;
        line-height: 30px;
        font-weight: normal;

        &:first-of-type{
            border-radius: 2px 0 0 0;
        }

        &:last-of-type{
            border-right: 0;
            border-radius: 0 2px 0 0;
        }
    }

    tr{
        background: lighten($gray-color, 18%);
        border-right: 0;

        &:nth-child(odd){
            background: lighten($gray-color, 15%);
        }

        td{
            padding: 5px 10px;
            background: none;
            border-right: 0;
        }
    }
}

/* === add recipes view styles === */
.ingredients-inputs {

    input[name=amount],
    input[name=amountUnits],
    input[name=ingredientName]{
        width: 100%;
        margin: 5px 0;
    }

    li{
        margin-bottom: 10px;

        &:first-child{
            margin-bottom:2px;
        }
    }

    .input-title{
        display: inline-block;
        margin:0;
        padding: 0;
        line-height: 15px;

        &.amount{
            width: 15%;
        }

        &.amountUnits{
            width: 16%;
        }
    }

    p{
        margin: 20px 0 10px;
    }
}

@media (min-width: 600px) {

    .ingredients-inputs {

        input[name=amount],
        input[name=amountUnits]{
            width: 15.33%;
        }

        input[name=ingredientName] {
            width: 51%;
        }
    }
}

/* === search view styles === */

.search-form {

    input[type=text]{
        width: 83%;
    }

    p{
        padding: 5px 0 10px;
    }

    .list-wrap p{
        padding: 0;
    }
}

/* === deletedRecipe view styles === */
.deletedRecipe{

    .btn{
        font-size: 16px;
        text-align: center;
    }

    > div{
        padding-top: 5px;
    }

    p{
        padding-top: 5px;
        line-height: 30px;
    }
}