/* === resets and command styles START === */
html, body, div, nav, input, textarea, p, h1, h2, h3, h4, ul, li, table, tr, th, td { margin: 0; padding: 0; }

li { list-style-type: none; }

a { text-decoration: none; }

img { outline: none; }

body { font-family: Tahoma, Geneva, sans-serif; font-size: 16px; }

i { display: inline-block; font-size: 28px; }

h1 { margin-bottom: 55px; padding: 5px; background: #34495e; border-radius: 2px; color: #fff; font-weight: normal; }
h1::first-letter { text-transform: capitalize; }

h3 { margin-bottom: 10px; }

.clearfix:after { display: table; clear: both; content: ""; }

/* === resets and command styles END === */
.container { display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-direction: row; -ms-flex-direction: row; flex-direction: row; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; justify-content: space-between; width: 950px; margin: 0 auto; }

.col { width: 650px; }
.col:first-of-type { width: 200px; }

li a { display: block; color: #fff; }
li i { float: left; margin: 0 5px 0 0; }

nav li { margin-bottom: 5px; padding: 5px; background: #1abc9c; border-radius: 2px; line-height: 30px; color: #fff; }

.list-wrap { margin-top: 20px; }
.list-wrap p { border-radius: 2px 2px 0 0; color: #fff; line-height: 30px; }
.list-wrap ul { border-radius: 3px; background: #2b3c4e; }
.list-wrap li { margin-bottom: 2px; padding: 0 15px; background: #34495e; color: #fff; }
.list-wrap li:first-of-type { margin-bottom: 0; padding: 5px; border-radius: 2px 2px 0 0; background: #1abc9c; }
.list-wrap li:last-of-type { margin-bottom: 0; border-radius: 0 0 2px 2px; }
.list-wrap li.active { background: 0 0; }
.list-wrap li a { padding: 10px 0; }
.list-wrap li a:before { margin-right: 12px; content: '\2022'; }
.list-wrap li.active a { color: #1abc9c; }

table { width: 100%; margin-bottom: 30px; border-collapse: collapse; border-radius: 2px; }
table thead { color: #fff; font-weight: normal; }
table th, table td { padding: 5px 0; border-right: 1px solid #fff; background: #1abc9c; line-height: 30px; font-weight: normal; }
table th:first-of-type, table td:first-of-type { border-radius: 2px 0 0 0; }
table th:last-of-type, table td:last-of-type { border-right: 0; border-radius: 0 2px 0 0; }
table tr { background: #eff0f1; border-right: 0; }
table tr:nth-child(odd) { background: #e6e9ea; }
table tr td { padding: 5px 10px; background: none; border-right: 0; }

.description-wraper { margin-bottom: 20px; padding: 10px; background: #eff0f1; border-radius: 2px; }

.edit-btn-wrap { text-align: right; }

.btn { display: inline-block; width: 75px; padding: 5px 10px; background: #1abc9c; border: 0; border-radius: 2px; color: #fff; line-height: 30px; text-align: left; }
.btn i { float: left; margin-right: 4px; }
