/* app css stylesheet */

body, table, tr, td, div, button, ul, li{
  margin: 0;
  padding: 0
}
ul, li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.wrap{
  width: 410px;
  margin: 0 auto;
}
table{
  border-collapse: collapse;
}
table td, table th{
  width: 20px;
  height: 20px;
  padding: 6px;
  border:1px solid black;
  text-align: center;
}
table td.coordinateCell,
table th.coordinateCell{
  border:none;
}
table td.gameCell{
  cursor: pointer;
}
table td.hitCell{
  background: #b0d0b0;
}
table td.hitShip{
  background: #ff6666;
}

/*msg area*/
.msg{
    background: #efefef;
}
#messageArea{
  height: 45px;
  margin-bottom: 15px;
  padding: 10px;
  line-height: 22px;
}
.menu{
  width: 85px;
  height: 85px;
  margin-bottom: 5px;
  text-align: center;
}
.menu span{
  display: block;
  padding: 5px;
  background: #4590f6;
  border-bottom:  1px solid #efefef;
  color: #fff;
}
.menu ul{
  padding: 0 5px;
  background: #45a1f6;
}
.menu ul li a{
  color: #fff;
}
.menu ul li{
  padding: 5px 0;
}
.menu ul li:first-child{
  border-bottom:  1px solid #efefef;
}