@font-face {
    font-family: 'icomoon';
    src:    url('icomoon.eot?96sxbc');
    src:    url('icomoon.eot?96sxbc#iefix') format('embedded-opentype'),
        url('icomoon.ttf?96sxbc') format('truetype'),
        url('icomoon.woff?96sxbc') format('woff'),
        url('icomoon.svg?96sxbc#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-clipboard-list2:before {
    content: "\e902";
}
.icon-clipboard-checked2:before {
    content: "\e904";
}
.icon-clipboard-add2:before {
    content: "\e906";
}
.icon-clipboard-remove2:before {
    content: "\e908";
}
.icon-clipboard-edit2:before {
    content: "\e90c";
}
.icon-document-search2:before {
    content: "\e90e";
}

