<div id="right_wrapper">
    <h1 class="title_right">{{templateTitle}}</h1>
    <div>
        <div ng-hide="confirmDeleting == 1" class="deletedRecipe">
            <p>Сигурен ли си че искаш да изтриеш рецептата: {{recipeName}} </p>
            <div>
                <button type="button" class="btn" ng-click="removeRecipe(currentID)">Да </button>
                <a ui-sref="singleView({recipeID: currentID})" class="btn">Не </a>
            </div>
        </div>
        <p ng-show="confirmDeleting == 1">Рецептата е изтрита</p>
    </div>

</div>