<div id="right_wrapper">
    <h1 class="title_right">{{templateTitle}}</h1>

    <form name="recipeForm" ng-submit="saveRecipe()">
        <label for="title_field">Write a title: </label>
        <input type="text"  ng-model="recipeName" class="recipe-info" required id="title_field" >

        <label for="description_field">Write a description: </label>
        <textarea rows="4" cols="50"  ng-model="recipeDescriptionField" class="recipe-info" id="description_field"></textarea>

        <div class="ingredients-inputs">
            <p>Add ingredients</p>
            <div class="controls">
                <ul >
                    <li>
                        <label class="input-title amount" for="amount">Amount:</label>
                        <label class="input-title amountUnits" for="amountUnits">Amount units:</label>
                        <label class="input-title ingredientName" for="ingredientName">ingredient name:</label>
                    </li>
                    <li ng-repeat="ingre in ingredientsList">
                        <input name="amount"  type="text" id="amount" ng-model="ingre.amount" class="recipe-info">
                        <input name="amountUnits"  type="text" id="amountUnits"ng-model="ingre.amountUnits" class="recipe-info">
                        <input name="ingredientName"  type="text" id="ingredientName" ng-model="ingre.ingredientName" class="recipe-info">
                        <button type="button" class="btn" ng-click="removeIngredient($index)"><i class="icon-clipboard-remove2"></i> Delete </button>
                    </li>
                    <button type="button" class="btn" ng-click="addIngredient()">
                        <i class="icon-clipboard-add2"></i> Add
                    </button>
                </ul>
            </div>
        </div>

        <div class="btn-wrap">
            <button type="submit" class="btn">
                <i class="icon-clipboard-checked2"></i> Save
            </button>
        </div>
    </form>
</div>
