<div>
    <h1>{{name}}</h1>

    <div class="recipe-content">
        <table>
            <thead>
                <tr>
                    <th>Количество</th>
                    <th>Мерна единица</th>
                    <th>Продукт</th>
                </tr>
            </thead>
            <tbody>
                <!-- ingredient always has at least one property - $$hashKey -->
                <tr ng-repeat="ingredient in ingredients" ng-hide="getLength(ingredient) == 1">
                    <td>{{ingredient.amount}}</td>
                    <td>{{ingredient.amountUnits}}</td>
                    <td>{{ingredient.ingredientName}}</td>
                </tr>
            </tbody>
        </table>

        <h3>Описание: </h3>

        <div class="gray-wrapper">
            <p>{{description}}</p>
        </div>

        <div class="btn-wrap">
            <a ui-sref="editRecipe({recipeID: id})" class="btn">
                <i class="icon-clipboard-edit2"></i> Редактирай
            </a>
            <a ui-sref="deleteRecipe({recipeID: id})" class="btn">
                <i class="icon-clipboard-remove2"></i> Изтрий
            </a>
        </div>
    </div>
</div>